@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}
/*we used flexbox to position chat messages to the bottom of chat window
but flexbox dont allow overflow scroll out of the box
*/
.box {
  height: 60vh;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow-y: auto;
}
.box .inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: flex-end;
  flex-basis: 100%;
  height: 100%;
  align-content: flex-end;
  background-color: #eee;

  /* min-height: min-content; handles overflow scroll for flex
  https://stackoverflow.com/questions/21515042/scrolling-a-flexbox-with-overflowing-content
  */
  min-height: min-content;
}
.box .inner .message {
  background-color: #eee;
  border: 1px solid #ccc;
  padding: 2px 4px;
  margin: 2px 200px 2px 2px;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  color:black;
  font-size: 24px;
}
.box .reference {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}
.chat-input {
  border-radius: 3px;
  width: 90%;
  padding: 10px;
  box-shadow: none;
  background: none;
  border: 1px solid #ccc;
  background-color: #eee;
}

.black{
  color:black;
  font-size: 24px;
  font-weight: 400;
}

.title{
  color: white;
  padding: 20px;
  font-size: 2rem;
}