
.hero img{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.hero {
    height: 100vh;
    width: 100%;
    object-fit: contain;
}

.content {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20vh
}

.content h1{
    font-size: 4rem;
    color: #fff;
    text-transform: uppercase;
}

.content p{
    font-size: 1.8rem;
    font-weight: 200;
}

.content .login-buttons{
    padding: 2rem;
}

.user-login p{
    font-size: 1.5rem;
}

p .invalid {
    font-size: 1.2rem;
    font-weight: 500;
    color:antiquewhite;
}

.content .Synergia{
    font-size: 5rem;
    background: -webkit-linear-gradient(#e8d8fc, #f8f9d2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}